{% extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="../static/styles/profile.css">
{% endblock %}

{% block title %} 
  🤙 Profile 🤙
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="background text-center mx-auto">
    <h1>(☞ﾟヮﾟ)<u>☞ <em>Your Profile Details</em> ☜</u>(ﾟヮﾟ☜)</h1>
    <p><strong>Fellow Degen</strong> {{ user.first_name }} {{ user.last_name }}, glad to have you here!</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Account Created On:</strong> {{ user.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <a href="{{ url_for('lists.my_list') }}" class="btn btn-dark">My List</a>
    <a href="{{ url_for('alerts.my_alerts') }}" class="btn btn-dark">My Alerts</a>
    <a href="{{ url_for('lists.view_notes') }}" class="btn btn-dark">View All Notes</a>

</div>
{% endblock %}