.reset_password_background {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    min-height: 100vh;
    font-family: 'Exo', sans-serif;
    overflow: hidden;
}

.reset_password_body {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    font-family: 'Exo', sans-serif;
    margin: 0; 
    overflow: visible; 
    min-height: 100vh;
}

.reset_password_p {
    color:whitesmoke;
    margin:20px;
}

.reset_password_h1 {
    color:whitesmoke;
    margin:20px;
    margin-top: 60px;
}

.reset_password_btn {
    color: whitesmoke;
    margin: 1px;
    padding: 12px 24px!important;
    background-color:#526175;
    margin: 1px 5px;
    transition: background-color 0.5s ease;  
}

.reset_password_btn:hover {
    background-color: #8aa3a5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(1.1);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.reset_password_h1 {
    animation: fadeIn 2s;
}
body {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    font-family: 'Exo', sans-serif;
    margin: 0; 
    overflow: visible; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #526175;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color:whitesmoke;
    text-align: center;
}

p {
    color:whitesmoke;
}

input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #8aa3a5;
    color: whitesmoke;
    border: none;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
}
