.reset_password_background {
    background: linear-gradient(to bottom, #252b33, #22272f, #22272f, #252b33);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0 auto;
    width: 90%; 
    max-width: 500px; 
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgb(217, 227, 237) 0px 20px 30px -10px;
}

@media screen and (max-width: 768px) {
    .reset_password_background {
        width: 95%; 
        padding: 25px; 
        margin-top: 50px; 
    }
}

.reset_password_p {
    border-radius: 10px;
    color:whitesmoke;
    margin:20px;
}

.reset_password_h1 {
    color:whitesmoke;
    margin:20px;
    margin-top: 60px;
}

.reset_password_btn {
    color: whitesmoke;
    margin: 1px;
    padding: 12px 24px!important;
    background-color:#252b33;
    margin: 1px 5px;
    transition: background-color 0.5s ease;  
}

.reset_password_btn:hover {
    background-color: #8aa3a5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transform: scale(1.05);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.reset_password_h1 {
    animation: fadeIn 2s;
}

body {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    font-family: 'Exo', sans-serif;
    margin: 0; 
    min-height: 100vh;
}

form {
    background-color: #526175;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
}

h1, h6 {
    color:whitesmoke;
    text-align: center;
}

input[type="email"], input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
}


.reset_password_body {
    
    margin: 0 auto; 
    padding: 1rem; 
    max-width: 500px; 
}


@media (max-width: 768px) {
    .reset_password_body {
        margin: 1rem; 
    }
}

.reset_password_p {
    
    margin-bottom: 1rem; 
}

.btn.reset_password_btn {
    
    display: block; 
    width: 100%; 
    margin-top: 1rem; 
}