.background {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    min-height: 100vh;
    font-family: 'Exo', sans-serif;
    overflow: hidden;
}

body {
    background: linear-gradient(to bottom, #1f242d, #1f242d, #1a1b1f, #121212);
    font-family: 'Exo', sans-serif;
    margin: 0; 
    overflow: visible; 
    min-height: 100vh;
}

#coin-name{
    font-weight: 400;
}

.btn {
    color: whitesmoke;
    padding: 12px 24px!important;
    background-color: #526175;
    display: inline-block; 
    visibility: visible; 
    opacity: 1; 
    z-index: 10; 
    
}

.btn:hover {
    background-color: #8aa3a5;
}

.container {
    background: linear-gradient(to bottom, #252b33, #22272f);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgb(217, 227, 237) 0px 20px 30px -10px;
    width: 40%; 
    margin: 50px auto; 
}

#emailHelp {
    margin-bottom: 20px;
    color:whitesmoke;
}


/* Typography */
h1, h2, h3, h5, .card-title, .card-text {
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Form and Controls */
form, .form-control {
    margin-bottom: 15px; 
}

.form-control:focus {
    border-color: #8aa3a5;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #8aa3a5;
}

@media (max-width: 768px) {
    .container {
        width: 95%; 
        padding: 20px; 
    }

    h1, h2, h3, h5, .card-title, .card-text {
        font-size: 4vw; 
    }

    form, .form-control, .btn {
        width: 100%; 
    }

}

.modal-title {
    font-size: 1.5rem; 
    color: #050000; 
    text-align: center; 
    
}

.btn-close {
    background: none; 
    border: none; 
    opacity: 1; 
    
}