{% extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block title %} 
✔ Login Here ✔
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="container">
    <img src="../static/images/degen_zone-transformed.png" height="200px" width="auto" alt="degen zone logo">
    <h2>Login</h2>
    <form method="POST" class="w-50 mx-auto">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <input id="email" type="email" class='form-control' placeholder="Email Address" required>
            <label for="email"></label>
            <div id="emailHelp" class="form-text">Don't worry, we wont sell your info ❤</div>
        </div>
        <div class="mb-3">
            <input id="password" type="password" class='form-control' placeholder='Password' required>
            <label for="password"></label>
        </div>
        {{ form.submit_btn(class='btn d-block mx-auto mt-5') }}
        <a id='resetPassword'  class="text-center d-block mt-4" href="{{ url_for('auth.reset_password') }}"><em>Forgot Password?</em></a>
    </form>
</div>
{% endblock %}
