{% extends 'base.html' %}

{% block styles %} 
    <!-- <link rel="stylesheet" href="../static/styles/home.css"> -->
{% endblock %}

{% block title %} 
  👨🏽‍💻 Degen Zone 👨🏽‍💻
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="main-section">
  <div class="container">
    <title>Logout</title>
</head>
<body>
    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="logoutModalLabel">Log Out Confirmation</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Attention, you are about to leave the degen zone. This is your final chance to
                change your mind.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Nevermind</button>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger" id="no-hov">Confirm
                    Logout</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
