{% extends "base.html" %}

{% block styles %} 
<link rel="stylesheet" href="../static/styles/reset_password.css">
{% endblock %}

{% block title %} 
🔃 Reset Passowrd 🔃
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="reset_password_background">
    <div class="reset_password_body">
        <h1 class="reset_password_h1">Reset Password</h1>
        <h6 class="reset_password_h6">Request a reset password link by providing your email address below.</h6>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes"> 
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('auth.reset_password') }}">
            {{ form.hidden_tag() }}
            <p class="reset_password_p">{{ form.email.label }} {{ form.email(placeholder="Enter your email") }}</p>

            <button type="submit" class="btn reset_password_btn">Submit</button>
        </form>
    </div>
</div>
{% endblock %}