{% extends 'base.html' %}

{% block styles %} 
    <link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block title %} 
✔ Sign Up Here ✔
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="container">
    <img src="../static/images/degen_zone-transformed.png" height="200px" width="auto" alt="degen zone logo">
    <h2>Create an Account</h2>
    <h5><em>Trade smarter with Degen Zone.</em></h5>
<form method="POST" class="w-50 mx-auto">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.first_name(class='form-control',placeholder='First Name')}}
    </div>
    <div class="mb-3">
        {{ form.last_name(class='form-control',placeholder='Last Name')}}
    </div>
    <div class="mb-3">
        {{ form.email(class='form-control',placeholder='Email Address')}}
    </div>
    <div id="emailHelp" class="form-text">Don't worry, we wont sell your info ❤</div>
    <div class="mb-3">
        {{ form.password(class='form-control',placeholder='Password')}}
    </div>
    <div class="mb-3">
        {{ form.confirm_password(class='form-control',placeholder='Confirm Password')}}
    </div>
    {{ form.submit_btn(class='btn d-block mx-auto mt-5') }}
</form>
</div>
{% endblock %}